
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]


 <RequireAll>
	  Require all granted
	  Require not ip 139.193.0.1/139.193.0.255
	</RequireAll>